body {
  font-size: 14px;
  line-height: 140%;
}
html.js {
  overflow-x: hidden;
}
/*  layout  */
.constrain {
  max-width: 61.875em;
  margin: 0 auto;
  text-align: center;
}

/*  /layout */


/*  general styles  */
/*  links */
a:link, a:visited, a:hover, a:active {
  color: #e64;
  text-decoration: none;
  font-weight: bold;
}
a img {border: 0px;}
a:visited {
  color: #999;
}

a:hover {
  color: #f96;
}

/*  text paragraph  */
.detail p {
  margin: 12px 0;
  
}
.detail p:first-child {
  margin-top: 0;
}
/*  headings  */


.js .tooltip {
  display: none;
  background: #333;
  color: #fff;
  position: absolute;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
.js .tooltip .tail {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 -1.5em -1.5em;
  border-top: 1.5em solid #333;
  border-right: 1.5em solid transparent;
  border-left: 1.5em solid transparent;
  border-bottom: none;
}
/*  /general styles */

/*  Splash page */
.splash {
  background: #fff url(../images/bg-1.gif) 0 20px repeat;
}

.splash #page {
  margin-top: 3.5em;
}
.splash .contact {
  font: 2em Georgia, serif;
  line-height: 2em;
  font-weight: bold;
}
.splash .bio {
  font: 1.5em Georgia, serif;
  margin: 0.5em 0 2em;
}
.splash .contact,
.splash .contact:link,
.splash .contact:hover,
.splash .contact:visited,
.splash .contact:active {
  color: #ccc;
  text-decoration: none;
}
.splash .contact:hover,
.splash .contact:active,
.splash .contact span {
  color: #666;
}
.splash #main {
  overflow: hidden; /*  contains floats */
}
.splash .place {
  float: left;
  width: 20.625em;
  height: 11em;
  margin: 0 0 5em;
  position: relative;
}

.splash .place h2 {
  position: absolute;
  bottom: 0;
  width: 20.625em;
  color: #999;
}

.splash .place .work {
  list-style: none;
  height: 9em;
  overflow: hidden;
}

.splash .place .elsewhere {
  width: 10em;
  list-style: none;
  margin: 0 auto;
  text-align: left;
}
.splash .place .elsewhere a {
  display: block;
  margin: 0.2em 0;
  padding-left: 2.4em;
  line-height: 2em;
  background: transparent url(../images/social-sprite.png) 0 0 no-repeat;
}
.splash .place .elsewhere .else-github {
  background-position: 0 -60px;
}
.splash .place .elsewhere .else-twitter {
  background-position: 0 -120px;
}
/*  Work page */
.work #page {
  margin-top: 2em; /* header height  */
}
.work header,
.work .contact {
  position: fixed;
  z-index: 1;
  font-weight: bold;
}
.work header {
  top: 0;
  left: 0;  
  -moz-box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);
}
.work .contact {
  right: 0;
  top: 0;
  padding: 0.5em 1em;
  -moz-box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
}

.work h1 {
  overflow: hidden; /*  contains floats */
}
.work h1 a,
.work h1 span,
.work .contact {
  display: block;
  float: left;
  padding: 0.5em 1em;
}
.work h1 a {
  background: #f96;
  color: #fff;
}
.work h1 span,
.work .contact {
  background: #333;
  color: #fff;
}

.work footer {
  position: fixed;
  bottom: 0;
  right: 0.5em;
  background: #fff;
  z-index: 1;
}

/*
  Detail page 
  */
.detail {
  overflow: hidden;
  min-width: 61.875em;
  max-width: 84em;
  padding: 0 8em;
  margin: 0 auto;
}
.no-js .detail {
  max-width: 61.875em;
}
.detail h2 {
  font-size: 2em;
  text-align: left;
  line-height: 2em;
  font-family: Georgia, serif;
  color: #ccc;
}
.detail h2 .title {
  color: #666;
}
.detail .leave {
  color: #fff;
  background: #333;
  font-weight: bold;
  display: block;
  float: right;
  line-height: 2em;
  height: 2em;
  margin: 0.63em 0 0.63em 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
}
.detail .column {
  float: left;
  text-align: left;
}
.detail .media {
  width: 44em;
  margin-right: 2em;
}
.detail .narrative {
  float: none;
  padding-left: 46em;
}
.narrative .summary {
  font: 1.5em Georgia, serif;
  color: #666;
  font-style: italic;
}
.media-showcase {
  min-height: 22em;
  list-style: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5em;
}
.media-showcase img {
  width: 100%;
}
.media-prev, .media-next {
  display: block;
  position: absolute;
  top: 5em;
  background: #fff;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
}
.media-prev b, .media-next b {
  display: block;
  position: absolute;
  border-top: 1.5em solid #fff;
  border-bottom: 1.5em solid #fff;
}
.media-prev {
  left: 0;
  -moz-box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);;
  -webkit-box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);;
}
.media-next {
  right: 0;
  -moz-box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);;
  -webkit-box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);;
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);;
}
.media-prev b {
  right: -1.5em;
  border-right: 1.5em solid transparent;
  border-left: none;
}
.media-next b {
  left: -1.5em;
  border-left: 1.5em solid transparent;
  border-right: none;
}
.media-position {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 20.6em;
  margin-left: -10em;
  text-align: center;
}
.media-position-dot {
  font-size: 5em;
  color: #888;
  cursor: pointer;
} 
.media-position .active {
  color: #fff;
}

.detail .roles {
  position: relative;
  height: 28em;
}
.detail .roles ul {
  list-style: none;
}
.detail .role {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 13em;
  padding: 0.5em;
  min-height: 7em;
  background: #ccc;
}
.detail .role li {
  margin: 0.25em 0;
}
.detail .has-role {
  background: #666;
  color: #fff;
}
.detail .client-side {
  left: 15em;
}
.detail .server-side {
  left: 30em;
}
.detail .related-posts {
  position: absolute;
  top: 9em;
  width: 28em;
  background: #fff;
  border-left: 14em solid #ccc;
  padding-left: 1.5em;
}
.detail .related-posts h3 {
  color: #666;
}
/* js stuff --> desktop.css ? */

/*  fly-in strip */
.js #slide-viewport {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.js #strip {
  position: relative;
  color: #333;
  display: none;
  overflow: hidden; /* contains floats */
  padding-top: 2em; /* top banner ht  */
  padding-right: 900em; /* for fly-in */
  padding-bottom: 10em;
  background: #fff url(../images/bg-1.gif) 0 20px repeat;
}

.js .slide {
  width: 100%;
  float: left;
}
.strip-nav {
  display: none;
}
.js .strip-nav {
  position: fixed;
  font: 11em Georgia, serif;
  color: #ccc;
  top: 50%;
  margin-top: -0.5em;
  text-decoration: none;
}
.js .prev {
  left: 0;
}
.js .next {
  right: 0;
}
.js .access-top {
  display: none;
}
/* each page is 100%  */


 /* thumbnail tray  */
.js #tray {
  position: fixed;
  bottom: 0;
  z-index: 100;
  /*background: yellow;*/
}
.js #tray .target {
  height: 0;
  width: 61.875em;
  border-top: none;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #333;
  border-bottom-color: rgba(0,0,0,0.3);

}
.js #tray nav {
  display: none;
  height: 8em;
}

.work nav a {
  color: #333;
  text-decoration: none;
}
.work nav a img {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  /* animation  */
  -webkit-transition-property: height, width, margin-top;
  -webkit-transition-duration: 200ms, 200ms, 200ms;
}
.work nav a:hover img,
.work nav a:active img {
  width: 120px;
  height: 120px;
  margin-top: 0;
}

.js #active-project {
  bottom: 11em;
  width: 16em;
  margin-left: -4em;  /*  half of maximized image thumb width */
}
#active-project ul {
  text-align: left;
  list-style: none;
  color: #ccc;
}
#active-project .ft {
  float: right;
}
